<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода в Томске</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Погода в Томске</h1>
        </div>
        <div class="weather-info">
            <p>Статус: {{ weather[0] }}</p>
            <p>Ветер: {{ weather[1] }}</p>
            <p>Влажность(%): {{ weather[2] }}</p>
            <p>Температура: {{ weather[3] }}°C</p>
            <p>Вероятность осадков(%): {{ weather[4] }}</p>
            <p>Индекс жары: {{ weather[5] }}</p>
            <p>Облачность: {{ weather[6] }}</p>
        </div>
    </div>
</body>
</html>