<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather in Tomsk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_main.css') }}">
    <meta http-equiv="refresh" content="60"> <!-- Обновление страницы каждую минуту -->
</head>
<body>
    <!--Блок с инфой по погоде основной на главной странице-->
    <div class="container" id="weather-container">
        <h1>Weather in Tomsk</h1>
        <h2>on {{ weather_data[5].strftime('%Y-%m-%d') }}</h2>
        <p><font size="6"> Weather {{ weather_data[0] }} | {{ weather_data[3] }} °C </font></p>
        <p>Humidity {{ weather_data[2] }}% | Clouds {{ weather_data[4] }}% | Wind {{ weather_data[1] }} km/h</p>
    </div>
    
    <!--Блок с инфой по последнему обновлению инфы и страницы-->
    <div class="container_update" id="update-container">
        <h3>Updated {{ weather_data[5].strftime('%Y-%m-%d %H:%M:%S') }}</h3>
    </div>

    <div class="search_data">
      <form><button class="button1" formaction="http://127.0.0.1:5000/main_search">Date search</button></form>
    </div>

    <div class="table_data">
      <form><button class="button2" formaction="http://127.0.0.1:5000/main_table">All time</button></form>
    </div>
</body>
</html>

