<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_main_search.css') }}">
    <meta http-equiv="refresh" content="60"> <!-- Обновление страницы каждую минуту -->
</head>
<body>
    
    <div class="container_update" id="update-container">
        <h3>Updated {{ weather_data[5].strftime('%Y-%m-%d %H:%M:%S') }}</h3>
    </div>

    <div class="cont-search" id="search-date">
        <h1>Date Search</h1>
        <form action="{{ url_for('search_results') }}" method="post">
            <label for="datepicker">Select a Date:</label>
            <input type="date" id="datepicker" name="selected_date" required>
            <button id="search-btn" type="submit">Search</button>
        </form>
    </div>

    <div class="main_page">
        <form><button class="button1" formaction="http://127.0.0.1:5000">Main page</button></form>
    </div>

    <div class="table_data">
      <form><button class="button2" formaction="http://127.0.0.1:5000/main_table">All time</button></form>
    </div>
</body>
</html>