<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Data for the selected date</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles_search.css') }}"/>
		<meta http-equiv="refresh" content="60"> <!-- Обновление страницы каждую минуту -->
	</head>

	<body>
		<div class="Name_page">
			<h1><font size="5">Data for the selected date</font></h1>
		</div>



		<h5>{{ graph_html|safe }}</h5>

		<h6>{{ graph_html2|safe }}</h6>

		<h7>{{ graph_html3|safe }}</h7>

		<h8>{{ graph_html4|safe }}</h8>




		<div class="container_update" id="update-container">
			<h3>Updated {{ weather_data[5].strftime('%Y-%m-%d %H:%M:%S') }}</h3>
		</div>

		<div class="cont-search" id="search-date">
			<h1>Date Search</h1>
			<form action="{{ url_for('search_results') }}" method="post">
				<label for="datepicker">Select a Date:</label>
				<input type="date" id="datepicker" name="selected_date" required />
				<button id="search-btn" type="submit">Search</button>
			</form>
		</div>

    <div class="main_table" id="main-date">
      <form><button class="button1" formaction="http://127.0.0.1:5000">Обратно на main page</button></form>
    </div>

		<div class="table_data">
      <form><button class="button2" formaction="http://127.0.0.1:5000/main_table">За всё время</button></form>
    </div>

		<div class="table_max" id="max">
        <h1>Максимальные значения</h1>
        <p>Temperature {{ max_temperature }} °C</p>
        <p>Wind speed {{ max_wind_speed }} km/h</p>
        <p>Humidity {{ max_humidity }} %</p>
        <p>Clouds {{ max_clouds }} %</p>
    </div>

    <div class="table_min" id="min">
        <h1>Минимальные значения</h1>
        <p>Temperature {{ min_temperature }} °C</p>
        <p>Wind speed {{ min_wind_speed }} km/h</p>
        <p>Humidity {{ min_humidity }} %</p>
        <p>Clouds {{ min_clouds }} %</p>
    </div>
	</body>
</html>
